* {
    background-color: #BEC6DF;
}

p {
    color: white;
    background-color: #FA85C8;
}

p,li {
    color: black;
}

.title {
    color: green;
}

div div div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
